<h1>Portfolio Items</h1>

<%# without "=" Only  process ruby code %>
<% @portfolio_items.each do |p| %>
  <p>
    <%# with "=" process & render ruby code on html %>
    <%= p.title %>
  </p>
  <p>
    <%= p.subtitle %>
  </p>
  <p>
    <%= p.body %>
  </p>
  <p>
    <%= image_tag p.thumb_image %>
  </p>
  <hr>
<% end%>